.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.SearchBar input {
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #6f43c0;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.SearchBar input:focus {
  outline: none;
  border-color: #8b5cf6;
}

.SearchButton {
  cursor: pointer;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  background-color: #6f43c0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: background-color 0.25s;
}

.SearchButton:hover {
  background-color: #8b5cf6;
}
