.Playlist {
  width: 45%;
  min-width: 300px;
  padding: 1rem;
  background-color: rgba(1, 12, 63, 0.7);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.Playlist input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #6f43c0;
}

.Playlist input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.Playlist-save {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  background-color: #6f43c0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  align-self: center;
  transition: background-color 0.25s;
}

.Playlist-save:hover {
  background-color: #8b5cf6;
}
